version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: cimg/node:20.9
    environment:
      NODE_ENV: production
    steps:
      - checkout

      - run:
          name: Instalar dependências
          command: npm install

      - run:
          name: Verificar Vite instalado
          command: ls -la node_modules/vite

      - run:
          name: Build do Vite (binário local)
          command: ./node_modules/.bin/vite build

      - run:
          name: Chamar Deploy Hook da Render
          command: |
            curl -X POST $RENDER_DEPLOY_HOOK_FRONTEND

workflows:
  deploy:
    jobs:
      - build-and-deploy
